| $('#counterparty').html("#{j render 'purchases/counterparties/counterparties'}");
| $('#counterparty').modal('show');
| $('#counterparty_form').html("#{j render 'purchases/counterparties/form'}");
| validCounterparty();
| $('#new_counterparty').hide();
| openform();
| $('#counterparty_bank_id').select2({ width: '100%' });
| $('input.number').numeric({ negative : false, decimal: false });
| $('#counterparty_list').html("#{j render 'purchases/counterparties/list'}");
| editableStart();
| checkResident();
