| $('#counterparty').html("#{j render 'purchases/counterparties/counterparties'}");
| $('#counterparty').modal('show');
| $('#counterparty_form').html("#{j render 'purchases/counterparties/form'}");
| $('#counterparty_start_date').datepicker();
| validCounterparty();
| $('#new_counterparty').hide();
| openform ();
| $('#counterparty_list').html("#{j render 'purchases/counterparties/list'}");
