= form_tag password_resets_path, :method => :post do
	.margin-top-20
  	= text_field_tag :email, params[:email], placeholder: 'Електронна пошта'
    = submit_tag "Змінити пароль", class: 'change_password'
