To Для зміни пароля в Active-books клікніть на посилання

= edit_password_reset_url(@user.password_reset_token)

If Якщо ви не хочете змінювати пароль, просто ігноруйте це повідомлення і ваш пароль буде продовжувати залишатися таким як є.
