| $('#contracts').html("#{j render 'contracts/contracts'}").modal('show');
| $('#contract_form').html("#{j render 'contracts/form'}");
| loadPluginsContract();
| $('#new_contract').hide();
| $('#contract_list').html("#{j render 'contracts/list'}");
| editableStart();
| openForm("new_contract", "add_new_contract");
| validContract();
