| $('#currency_purchases').html("#{j render 'money/currency_transactions/modal'}").modal('show');
| $('#currency_purchases_list').html("#{j render 'money/currency_transactions/list'}");
| $('#currency_purchases_form').html("#{j render 'money/currency_transactions/form'}");
| CurrencyTransactions.loadPlugins();
