| $('#costs').html("#{j render 'money/registers/registers'}").modal('show');
| $('#costs_form').html("#{j render 'money/registers/form'}");
| $(".select2").select2();
| $('#money_register_total').numeric();
| validateFormForNewRegister();
