| $('#companyCredits').modal('show');
| $('#credits_form').html("#{j render 'money/credits/form'}");
| $('#credits_list').html("#{j render 'money/credits/list'}");
| $('#new_credit').hide();
| $('.select2').select2({width: '100%'});
| $('#credit_row').click(function(){
|   setTimeout(function() { editableStart(); }, 200);
| });
| validateFormForNewCredit();
| $('input.number').numeric({ negative : false, decimal: false });
