= form_tag money_currencies_path, method: :post, remote: :true do
  = select_tag :name, options_for_select(application_present.current_company_currency_select(@currencies)), class: "currencySelect"
  = link_to '', '#', type: :submit, class: "add_new glyphicon glyphicon-plus-sign"
