| $('#companyCurrency').html("#{j render 'money/currencies/company_currency'}").modal('show');
| $('#currencies_form').html("#{j render 'money/currencies/form'}");
| $('#currencies_list').html("#{j render 'money/currencies/list'}");
| $('.currencySelect').select2();
| addCurrency();
| $.unblockUI();
