/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap3-editable/bootstrap-editable
 *= require select2
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'colors';
@import 'theme';
@import "jquery-css";
@import "bootstrap-select";

.notification {
  background-color:#e3f7fc;
  color:#555;
  border:.1em solid;
  border-color: #8ed9f6;
  border-radius:10px;
  font-family:Tahoma,Geneva,Arial,sans-serif;
  font-size:1.1em;
  padding:10px 10px 10px 10px;
  margin:10px;
  cursor: default;
}

div.error, div.invalid {
  color: red;
}

.glyphicon { font-size: 14px; }

.glyphicon.glyphicon-trash { 
  display: none;
  font-size: 15px;
}

tr {

  &:hover {
    .glyphicon-trash { display: initial; }

    .record-remove { display: block; }
  }
}

a.btn-primary {
  text-decoration: none;

  &:visited {
    color: white;
    text-decoration: none;
  }
}

a.btn-success {
  text-decoration: none;
  color: white;
}

.dropdown-menu {
  min-width: 400px;

  ul {
    li {
      margin: 5px;
    }
  }
}

.active { display: none; }

.record-remove {
  display: none;
  color: grey;
}

.modal-body { font-size: 14px; }

.current { background-color: #293846; }

.success { color: green; }

.select2-container { width: 100%; }

.add_new {
  font-size: 30px;
  cursor: pointer;
  color: rgb(26, 179, 148) !important;
}

.popover {
  max-width: 600px;
  width: auto;
}

@for $i from 1 through 300 {
  .width-#{$i} {
    width: $i*1px;
  }
}

.header_table {
  background-color: #F2F1F0;
}
