.main {
  margin-left: 200px;
}

.left-bar {
  max-width: 200px;
  border: 2px solid #eee;
  border-radius: 0;
  background-color: #92D36B;

  li {
    min-width: 200px;
  }

  ul {
    margin-right: -30px;
  }

  a {
    color: black;
  }

  .current {
    background-color: #eee;
  }
}

.navbar {
  padding-bottom: 30px;
  margin-bottom: 0;
}

.top-bar {
  ul.navbar-right {
    list-style-type: none;
    cursor: pointer;
    border: 1px solid;
    padding: 3px;
    background-color: #92D36B;
  }
}
