@import 'colors';

.main {
  margin-left: 215px;
}

.left-bar {
  max-width: 200px;
  border: 2px solid #eee;
  border-radius: 0;
  background-color: #92D36B;

  li {
    min-width: 200px;
  }

  ul {
    margin-right: -30px;
  }

  a {
    color: black;
  }
}

.navbar {
  padding-bottom: 30px;
  margin-bottom: 0;
}

.top-bar {
  list-style-type: none;
  cursor: pointer;
  min-height: 46px;
  background-color: $main-background;
}
