.register {
  td { width: 150px; }

  .registre-value { height: 30px; }

  .glyphicon-trash { float: right; }
}

.ui-datepicker-title {
  select {
    color: #2f4050;
  }
}

#chart_money {
  position: absolute;
  width : 100%;
  height : 260px;
}
