#nace_codes_tag { width: 100px; }

.kurs_full {
  display: table;
  margin: 0 auto;
}

#minfin-informer-m1Fn-currency {
  position: absolute;
  right: 0px;

.hed_company { 
  height: 144px;

  #email {
    width: 170px;
    height: 26px;
  }
}


