#nace_codes_tag { width: 100px; }

.kurs_full {
  display: table;
  margin: 0 auto;
}

#minfin-informer-m1Fn-currency {
  position: absolute;
  right: 0px;
}

.hed_company { 

  #email {
    width: 210px;
    margin-top: 10px;
  }

  .add_delegate {
    font-size: 30px;
    cursor: pointer;
    color: rgb(26, 179, 148);
  }
}

.label-success {
  display: none;
  font-size: 12px;
}

.bootstrap-switch { margin-right: 15px; }

.error-registration, #error-koatuu {
  display: block;
  width: 100%;
  color: red;
}

#new_registration {
  #select2-drop, .select2-container {
    width: 500px !important;
    margin-bottom: 15px !important;
  }
}
