| $('#companyAccount').html("#{j render 'money/accounts/company_account'}").modal('show');
| $('#account_form').html("#{j render 'money/accounts/form'}");
| $('#account_list').html("#{j render 'money/accounts/list'}");
| Accounts.loadPlugins();
| openForm('new_account', 'add_new_account');
| $.unblockUI();
