| $('#companyAccount').html("#{j render 'money/accounts/company_account'}").modal('show');
| $('#account_form').html("#{j render 'money/accounts/form'}");
| $('#account_list').html("#{j render 'money/accounts/list'}");
| openForm('new_account', 'add_new_account');
| $('#account_account_type, #account_currency, #account_bank_id').select2({width: '100%'});
| $('input.number').numeric({ negative : false, decimal: false });
| $('#new_account').hide();
| validAccount();
| $.unblockUI();
