| $('#companyAccount').html("#{j render 'money/accounts/company_account'}").modal('show');
| $('#account_form').html("#{j render 'money/accounts/form'}");
| $('#account_account_type, #account_currency, #account_bank_id').select2();
| $('input.number').numeric({ negative : false, decimal: false });
| $('#add_new_account').hide();
