| $('#companyAccount').html("#{j render 'money/accounts/company_account'}").modal('show');
| $('#account_form').html("#{j render 'money/accounts/form'}");
- if params[:page] == 'foreign_currency'
  | $('#account_currency option[value="UAH"]').remove();
| Accounts.loadPlugins();
| $('#new_account').show();
| $('#add_new_account').remove();
