| $('#orders').html("#{j render 'money/currency_transactions/orders/modal'}").modal('show');
| $('#order_form').html("#{j render 'money/currency_transactions/orders/form'}");
| $('#order_list').html("#{j render 'money/currency_transactions/orders/list'}");
| Order.LoadPlugins();
