| $('#companyCashier').modal('show');
| $('#cashier_form').html("#{j render 'money/cashiers/form'}");
| $('#cashier_list').html("#{j render 'money/cashiers/list'}");
| $('#new_cashier').hide();
| $('#cashier_currency').select2({width: '100%'});
| validateFormForNewCashier();
| $.unblockUI();
