| $('#payment_orders').html("#{j render 'money/currency_transactions/payment_orders/modal'}").modal('show');
| $('#payment_orders_form').html("#{j render 'money/currency_transactions/payment_orders/form'}");
| $('#payment_orders_table').html("#{j render 'money/currency_transactions/payment_orders/table'}");
| PaymentOrder.LoadPlugins();
