| $('#article_cash').modal('show');
| $('#article_form').html("#{j render 'money/articles/form'}");
| $('#article_list').html("#{j render 'money/articles/list'}");
| $('#new_article').hide();
| Articles.validArticle();
| $.unblockUI();
